
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root{
    --primary-color: rgb(216, 203, 232);
    --secondary-color: #9b6cdc;
    --card-primary-color: #dcd9d2;
    --bg-color: #100c06; 
    --third--primary: #eee4cd;
    --title-primary: #2e2925;
    --text-primary: #7f7c77;
    --black10:#332B28;
    --onHover: #6b625f;
    

}
body{
    
    /* margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-y: auto;
    overflow-x: hidden; */
    /* box-sizing: inherit; */
    /* background-color: var(--bg-color);  */
    /* background-color: rgb(219, 210, 234); */
    /* background-color: var(--bg-color); */
    /* height: 100vh;
    margin: 0; */
  
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3em;
  
  background-color: var(--bg-color);
  background-size: 200px 200px;
  /* font-family: "Recoleta"; */
  
  /*margin: 0 10em; */
   
    
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
 
}

html, body, #root{
    height: 100%;
    /* width: 100%; */
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

}

.main{
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh; 
justify-content: center;
  align-items: center;
  min-height: 100vh;
  z-index: -1;
  display: flex;
  background-color: var(--bg-color);
  /* background: linear-gradient(rgb(39, 106, 161) 0%, rgb(59, 221, 145) 100%); */

  /* background: #001247; */
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
}
/* .main::before,
.main::after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;

  opacity: 40%;
}

.main::before {
  background: var(--bg-color);
  filter: url(#noiseFilter);
  z-index: 1;
} */

.content{
    height: 50px;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin-right: 3em;
}

.main-container{
    flex: 1;

}

.bg{
    width: 100%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    /* background-color: var(--bg-color); */
   /* filter: url(#noiseFilter);  */
    /* position: relative;
    z-index: -1; */
    
}

.bg-layer{
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: var(--bg-color);
    filter: url(#noiseFilter); */
}

.navbar{
    /* background-color: var(--text-primary);
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 12px 12px 30px; */


    /* height: 60px;
  width: 80vw;
  margin: 0 auto;
  margin-top: 45px;
  bottom: 0;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
  display: block;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15),
    0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  background-color: var(--black10);
  display: flex;
  align-items: center;
  justify-content: left;
  position: sticky;
  z-index: 2; */
 /* margin-left: 20px; */
  height: 50px;
  width: 45%;
  margin: 40px auto;
  padding: 0 1em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  top: 1em;
  display: flex;
  
  /* margin-left: 25em; */
  
  justify-content: center;  /* Push left and right apart */
  gap: 1rem;

  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15),
              0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: var(--third--primary);
  position: sticky;
  z-index: 2; 

}


.navbar-custom{
    /* background-color: var(--primary-color); */
    /* padding: 15px; */
}

.navbar-brand{
    font-size: 27px;
    font-weight: bold;
    color: var(--title-primary);
    font-family: 'Inter', sans-serif;

}
.navbar-brand:hover{
    color: var(--title-primary);
}

.nav-right{
    display: flex;
    align-items: center;
    gap: 1em;
    margin-left: auto;

}


.userAvatar{
    /* align-items: center;
    justify-content: center;
    display: flex; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;

    
}

.container{
    /* background-color: palegoldenrod; */
}
/*LOG BUTTON STYle*/
.login-button {
position: relative;
 appearance: none;
 background-color: var(--title-primary);
 border: 0.125em solid var(--third--primary);
 border-radius: 0.9375em;
 box-sizing: border-box;
 color: var(--third--primary);
 left: 1em;
 cursor: pointer;
 display: inline-block;
 font-family: 'Inter', sans-serif;

 font-size: 16px;
 font-weight: 600;
 line-height: normal;
 margin: 0;
 min-height: 1.5em;
 min-width: 0;
 outline: none;
 padding: 0.8em 2.8em;
 text-align: center;
 text-decoration: none;
 transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 will-change: transform;
}

.login-button:disabled {
 pointer-events: none;
}

.login-button:hover {
 color: var(--card-primary-color);
 background-color: var(--secondary-color);
 box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
 transform: translateY(-2px);
}

.login-button:active {
 box-shadow: none;
 transform: translateY(0);
}

/*logout button*/

.logout-button {
position: relative;
 appearance: none;
 background-color: transparent;
 border: 0.125em solid var(--third--primary);
 border-radius: 0.9375em;
 box-sizing: border-box;
 color: var(--third--primary);
 right: 1em;
 cursor: pointer;
 display: inline-block;
 font-family: 'Inter', sans-serif;

 font-size: 16px;
 font-weight: 600;
 line-height: normal;
 margin: 0;
 min-height: 1em;
 min-width: 0;
 outline: none;
 padding: 0.6em 1.5em;
 text-align: center;
 text-decoration: none;
 transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 will-change: transform;
}

.logout-button:disabled {
 pointer-events: none;
}

.logout-button:hover {
 color: var(--card-primary-color);
 background-color: var(--secondary-color);
 box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
 transform: translateY(-2px);
}

.logout-button:active {
 box-shadow: none;
 transform: translateY(0);
}

.btnlog{
    margin-top: 2.5em;
}

.user-info{
    /* background-color: purple; */
    margin-top: 3px;
    justify-content: center;
    align-items: center;
    gap: .1em;

    display: flex ;
}

.displayName{
    /* font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 550;
    color: var(--secondary-color) !important;
    margin-top: 12px;
    margin-right: 2rem; */


    font-size: 17px;
  font-family: 'Inter', sans-serif;
  font-weight: 550;
  color: var(--secondary-color) !important;
    


}
.userFav{
    font-size: 23px;
    font-family: 'Inter', sans-serif;
    margin-right: 26em;
    margin-top: 4px;
}

.userFav span{
    color: var(--third--primary) !important;
    font-weight: 550;
}

.navbar ul{
    /* list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 40em; */

  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}
.navbar ul li {
  display: inline;
  text-decoration: none;
}
 .navbar ul li a {
font-size: 15px;
  padding: 0.25em 1em 0.25em 1em;
  color: var(--title-primary);
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 550;
}

.navbar ul li a:hover{
    text-decoration:line-through;
    color: var(--onHover);
}
/**/

.tvGif{
    position: absolute;
    justify-content: center;
    margin-top: -12em;
}
.gif{
    max-width: 270px;

}

.row{
    margin-top: 5em;
}

.custom-align{
    min-height: 400px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.custom-align .align-self-end{
    margin-top: auto;
}

.btn-group{
    position: relative;
    margin-top: 2rem;
}
.btn{
    background-color: var(--secondary-color);
    color: rgb(9, 9, 9);
    border: none;
    padding: 12px 90px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    border-radius: 23px;
    font-weight: bold;
}

.btn:hover{
    background-color: rgb(123, 87, 180);
}

.dropdown-item{
    color: var(--secondary-color);
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

.container{
    justify-content: center;
    align-items: center;
    /* margin-right: 12em; */
    /* background-color: #4c4753; */
    margin: auto;
    margin-top: 13em;
    /* margin-bottom: 20px; */
}
.title{
    font-size: 89px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: var(--third--primary);
}
.bottomText{
    font-size: 20px;
    font-family: 'Onest', sans-serif;
    color: var(--secondary-color);
    text-align: center;
    line-height: 1;
    
} 
/*movie card*/

.card{
     display: flex;
     flex-direction: column;
    background-color: var(--card-primary-color);
    border-radius: 18px;
    padding: 17px 4px 10px 4px;
    box-shadow: 0 4px 8px rgba(255, 252, 252, 0.292);
    margin: 20px;
    /* height: 33rem; */
    width: 22rem;
    overflow: hidden;
    /* border-color: var(--secondary-color); */
}

.card-header{
    background-color: var(--card-primary-color);
    border: none;
    display: flex;
    gap: 1em;
    margin-right: 1px;
    margin-left: 0;
    padding-left: 0;
    /* align-items: center; */
    justify-content: space-between;
}

/* .card-header{
    display: flex;
    background-color: var(--card-primary-color);
    border: none;
    
    gap: 1em;
    
} */


.movie-title{

    /* font-size: 1.5rem;
    font-weight: bolder;
    color: var(--title-primary);
    font-family: "Bebas Neue", sans-serif;
    white-space: nowrap;        /* Prevents breaking */
    /* overflow: hidden;
    text-overflow: ellipsis;    /* Adds ... if too long */
    /* flex: 1 1 auto;             /* Allows title to take available space */
    /* margin-bottom: 0;  */


    /* font-size: 45px;
    text-overflow: unset;
    white-space: nowrap;
    font-weight: bolder;
    /* word-break: break-word; */
     /* overflow-wrap: anywhere;
    margin-bottom: 0.5em;
    max-height: 4.5em;
    color: var(--title-primary);
    font-family: "Bebas Neue", sans-serif;  */
     
    font-size: 47px;
    /* text-overflow: unset; */
    margin-right: 1px;
    white-space: normal;
    font-weight: bolder;
   white-space: wrap;
   word-break: normal;
   
   /* flex: 1 1 auto; */
    margin-bottom: 0.10em;
    max-height: 4.5em;
    color: var(--title-primary);
    font-family: "Bebas Neue", sans-serif;

}
.release-date{
    font-family: "Bebas Neue", sans-serif;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    margin-left: 1em;
    /* font-size: 15px;
    font-weight: 400;
    margin-left: 1em;
    white-space: nowrap;
    flex-shrink: 0; */
}
.favIcon{
    position: relative;
    color: #2f2a1e35;
    cursor: pointer;
    flex-shrink: 0;
    margin-left: 1em;
    font-size: 25px;
}

.favIcon:hover{
    color: var(--secondary-color);
}
.card-img-top{
    border-radius: 5px;
    margin-left: 20px; 
    align-items: center;
    justify-content: center;
    width:90%;
    max-height: 65%;
    object-fit: cover;
}

.movie-text{
    font-size: 12px;
    font-weight: 500;
    color: var(--text-primary);
    font-family: 'PT Sans', sans-serif;
}
.description{
    font-weight: 500;
    font-size: 14px;
    width: 18.5rem;
    justify-content: space-between;
    text-align: justify;
}
.description, .movie-text{
    width: 100%;
    text-align: justify;
    /* max-height: 8em; */
    overflow: visible;
}

.movie-list-row{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

#movie-list{
    min-height: 600px;
    margin-top: 40px;
    scroll-margin-top: 100px;
}
.form{
    width: 100%;
    max-width: 300px;
}
.form-control{
    width:  100%;
    padding: 4px;
    border-radius: 25px;
    border: 1px solid var(--secondary-color);
    color: black;
    background-color: rgb(235, 233, 233);
    font-family: 'Onest', sans-serif;
    /* font-family: 'Inter', sans-serif; */
    font-size: 16px;
}

.form-control::placeholder{
    color: var(--secondary-color);
    padding-left: 12px;
    justify-content: center;
    text-align:left;

}
input{
    cursor: text;
}

.form-control:focus{
    border-color: var(--secondary-color);
    box-shadow: 0 0 5px rgba(155, 108, 220, 0.5);
}
.mr-2{
    margin-right: 5rem;
}

/* .spinner-grow{
    top: 20%;
    background-color: var(--card-primary-color) !important;
} */

/*loader text*/

.spinner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner-grow{
    margin-bottom: 8px;
    color: rgb(197, 174, 229);
}
.sr-only{
    text-align: center;

    font-family: 'Inter', sans-serif;
    font-weight: 600;
    padding: 1px;
    max-width: 200px;
    color: var(--secondary-color);


}

/*login card*/

.cardForm {
  font-family: Montserrat, sans-serif;
  width: 450px;
  height: 250px;
  translate: -6px -6px;
  background: var(--secondary-color);
  border: 3px solid var(--third--primary); 
  border-radius: 20px;
  box-shadow: 10px 10px 0 var(--third--primary);
  overflow: hidden;
  transition: all 0.3s ease;
  
}
.head {
  
  font-size: 20px;
  font-family: 'Onest', sans-serif;
  font-weight: 900;
  width: 100%;
  height: 32px;
  background:var(--third--primary);
  padding: 5px 12px;
  color:var(--black10);
  opacity: 10;
  border-bottom: 3px solid #000000;
}

.head i{
    left: 7em;
    right: 10px;
    position: relative;
    font-size: 25px;
    cursor: pointer;
}
.head i::hover{
    color: #e38323;

}

.FormContent {
  padding: 25px 12px;
  font-size: 18px;
  font-weight: 600;
  color: var(--title-primary);
  font-family: 'PT Sans', sans-serif;
}
.logBtn {
  padding: 10px 50px;
  margin-top: 20px;
  border: 3px solid #000000;
  box-shadow: 3px 3px 0 #000000;
  font-weight: 750;
  background: var(--card-primary-color);
  transition: all 0.3s ease;
  cursor: pointer;

}
.googleIcon{
    margin-left: 10px;
    
}


.logBtn:hover {
  translate: 1.5px 1.5px;
  box-shadow: 1.5px 1.5px 0 #000000;
  background: rgb(189, 157, 189);
  color: var(--third--primary);
}

.logBtn:active {
  translate: 3px 3px;
  box-shadow: var(--black10);
}

.cardForm:hover {
  translate: -6px;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.84);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal{
    /* background: transparent;
    padding: 0; */
}

/*footer*/
.contain{
    width: 100vw;
    height: 55px;
    z-index: 1;
    text-align: center;
    background-color: var(--bg-color);
    bottom: 5em;
    
    position: relative;
    
  /* bottom: 0;
  left: 0;
  height: 25px;
  position: absolute;
  width: 100vw;
  height: 25px;
  z-index: 10;
  text-align: center;
  background-color: var(--bg-color); */
  


}
.text, a{
    color: var(--third--primary);
    font-size: 15px;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 5px;
    
}

.icons a i {
    font-size: 1.3rem;
}

