
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root{
    --primary-color: rgb(216, 203, 232);
    --secondary-color: #9b6cdc;
    --card-primary-color: #dcd9d2;
    --bg-color: #100c06; 
    --third--primary: #eee4cd;
    --title-primary: #2e2925;
    --text-primary: #7f7c77;
    --black10:#332B28;
    --onHover: #6b625f;
    --primary-700: hsl(243, 26%, 15%);
      --primary-600: hsl(252, 9%, 22%);
  --primary-500: hsl(259, 13%, 28%);
    --primary-900: hsl(256, 43%, 7%);
      --primary-700: hsl(243, 26%, 15%);

      --gif-texture: url(https://64.media.tumblr.com/da60c13b478dda09ab90c27e880983b8/tumblr_nd4pwdPKdc1tun3l0o1_1280.gifv);


}
body{
    
    /* margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-y: auto;
    overflow-x: hidden; */
    /* box-sizing: inherit; */
    /* background-color: var(--bg-color);  */
    /* background-color: rgb(219, 210, 234); */
    /* background-color: var(--bg-color); */
    /* height: 100vh;
    margin: 0; */
  
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3em;
  
  background-color: var(--bg-color);
  background-size: 200px 200px;
  /* font-family: "Recoleta"; */
  
  /*margin: 0 10em; */
   
    
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
 
}

body, #root{
    min-height: 100vh;
    width: 100vw;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--bg-color);



    /*new try*/

  





    /*old one: start here*/

    /* background: linear-gradient(90deg,rgba(75,73,71,0.7), rgba(32,27,25,0.7), rgba(39, 27, 53, 0.3)),
    url("../assets/imgs/bg34.jpg");
      background-size: 300% 300%, cover;
      background-repeat: no-repeat, no-repeat;
      animation: gradient 4s alternate infinite;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; */


      /**ends here**/

 /* background: radial-gradient(circle 30% at center, var(--secondary-color) 0%, var(--bg-color) 100%);
  background-attachment: fixed;
  color: var(--secondary-color) !important;
  animation: gradient  10s ease-in-out infinite alternate;
  background-size: 200% 200%;
  background-attachment: fixed; */
}

.bg-gif{
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: var(--gif-texture);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.64; /* semi-transparent */
    pointer-events: none;
}

@keyframes gradient {
      0% {
        background-position: 0%;
      }
      100% {
        background-position: 100%;
      }

      /* 0% {
    background-size: 150% 150%;
    background-position: center;
  }
  100% {
    background-size: 250% 250%;
    background-position: 40% 60%;
  } */
    }

.main{
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vw; 
justify-content: center;
  align-items: center;
  min-height: 100vh;
  z-index: -1;
  display: flex;
  right: 2em;
  
  /* background-image: url("../assets/imgs/bg14\ \(2\).png");  */
 /* background-color: var(--bg-color);
background-image: url("https://www.transparenttextures.com/patterns/white-texture.png"); */
/* .main::before,
.main::after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;

  opacity: 40%;
}

.main::before {
  background: var(--bg-color);
  filter: url(#noiseFilter);
  z-index: 1;
} */
}

.content{
    height: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin-right: 3em;
}

.main-container{
    flex: 1;

}

.bg{
    width: 100%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    /* background-color: var(--bg-color); */
   /* filter: url(#noiseFilter);  */
    /* position: relative;
    z-index: -1; */
    
}

.bg-layer{
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: var(--bg-color);
    filter: url(#noiseFilter); */
}

.navbar{
    /* background-color: var(--text-primary);
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 12px 12px 30px; */


    /* height: 60px;
  width: 80vw;
  margin: 0 auto;
  margin-top: 45px;
  bottom: 0;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
  display: block;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15),
    0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  background-color: var(--black10);
  display: flex;
  align-items: center;
  justify-content: left;
  position: sticky;
  z-index: 2; */
 /* margin-left: 20px; */
  height: 50px;
  width: 45%;
  margin: 40px auto;
  padding: 0 1em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  top: 1em;
  display: flex;
  
  /* margin-left: 25em; */
  
  justify-content: center;  /* Push left and right apart */
  gap: 1rem;

  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15),
              0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: var(--third--primary);
  position: sticky;
  z-index: 2; 

}


.navbar-custom{
    /* background-color: var(--primary-color); */
    /* padding: 15px; */
}

.navbar-brand{
    font-size: 28px;
    font-weight: bold;
    color: var(--title-primary);
    font-family: 'Inter', sans-serif;

}
.navbar-brand:hover{
    color: var(--title-primary);
}

.nav-right{
    display: flex;
    align-items: center;
    gap: 1em;
    margin-left: auto;

}


.userAvatar{
    /* align-items: center;
    justify-content: center;
    display: flex; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;

    
}

.container{
    /* background-color: palegoldenrod; */
}
/*LOG BUTTON STYle*/
.login-button {
position: relative;
 appearance: none;
 background-color: var(--title-primary);
 border: 0.125em solid var(--third--primary);
 border-radius: 0.9375em;
 box-sizing: border-box;
 color: var(--third--primary);
 left: 1em;
 cursor: pointer;
 display: inline-block;
 font-family: 'Inter', sans-serif;

 font-size: 16px;
 font-weight: 600;
 line-height: normal;
 margin: 0;
 min-height: 1.5em;
 min-width: 0;
 outline: none;
 padding: 0.8em 2.8em;
 text-align: center;
 text-decoration: none;
 transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 will-change: transform;
}

.login-button:disabled {
 pointer-events: none;
}

.login-button:hover {
 color: var(--card-primary-color);
 background-color: var(--secondary-color);
 box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
 transform: translateY(-2px);
}

.login-button:active {
 box-shadow: none;
 transform: translateY(0);
}

/*logout button*/

.logout-button {
position: relative;
 appearance: none;
 background-color: transparent;
 border: 0.125em solid var(--third--primary);
 border-radius: 0.9375em;
 box-sizing: border-box;
 color: var(--third--primary);
 right: 1em;
 cursor: pointer;
 display: inline-block;
 font-family: 'Inter', sans-serif;

 font-size: 16px;
 font-weight: 600;
 line-height: normal;
 margin: 0;
 min-height: 1em;
 min-width: 0;
 outline: none;
 padding: 0.6em 1.5em;
 text-align: center;
 text-decoration: none;
 transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 will-change: transform;
}

.logout-button:disabled {
 pointer-events: none;
}

.logout-button:hover {
 color: var(--card-primary-color);
 background-color: var(--secondary-color);
 box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
 transform: translateY(-2px);
}

.logout-button:active {
 box-shadow: none;
 transform: translateY(0);
}

.btnlog{
    margin-top: 2.5em;
}

.user-info{
    /* background-color: purple; */
    margin-top: 3px;
    justify-content: center;
    align-items: center;
    gap: .1em;

    display: flex ;
}

.displayName{
    /* font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 550;
    color: var(--secondary-color) !important;
    margin-top: 12px;
    margin-right: 2rem; */


    font-size: 17px;
  font-family: 'Inter', sans-serif;
  font-weight: 550;
  color: var(--secondary-color) !important;
    


}
.userFav{
    font-size: 23px;
    font-family: 'Inter', sans-serif;
    margin-right: 26em;
    margin-top: 4px;
}

.userFav span{
    color: var(--third--primary) !important;
    font-weight: 550;
}

.navbar ul{
    /* list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 40em; */

  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}
.navbar ul li {
  display: inline;
  text-decoration: none;
}
 .navbar ul li a {
font-size: 15px;
  padding: 0.25em 1em 0.25em 1em;
  color: var(--title-primary);
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 550;
}

.navbar ul li a:hover{
    /* text-decoration:line-through;
    color: var(--onHover); */

     transition: all 0.2s ease-in-out;
  font-weight: 800;
  text-shadow: 0 0 8px var(--secondary-color);
  color: var(--secondary-color);
}
/**/

.tvGif{
    position: relative;
    justify-content: center;
    top: 0;
    bottom: 0;
    justify-content: center;

}
.gif{
    max-width: 270px;

}

/* .row{
    margin-top: 5em;
} */

.custom-align{
    min-height: 400px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.custom-align .align-self-end{
    margin-top: auto;
}

.btn-group{
    position: relative;
    margin-top: 2rem;
}
.btn{
    background-color: var(--secondary-color);
    color: rgb(9, 9, 9);
    border: none;
    padding: 12px 90px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    border-radius: 23px;
    font-weight: bold;
}

.btn:hover{
    background-color: rgb(123, 87, 180);
}

.dropdown-item{
    color: var(--secondary-color);
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

.container{

    justify-content: center;
    align-items: center;
    /* margin-right: 12em; */
    /* background-color: #4c4753; */
    margin: auto;
    margin-top: 3em;
    
    /* margin-bottom: 20px; */
}
.title{
    font-size: 89px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: var(--third--primary);
    margin-bottom: 0;
}
.bottomText{
    font-size: 22px;
    font-family: 'Onest', sans-serif;
    color: var(--secondary-color);
    text-align: center;
    line-height: 1;
    margin-top: 5em;
    
} 

/* .el{
    
    max-inline-size: 500px;
    margin-inline: auto;
    padding: 21px;
    display: grid;
    gap: 1lh;
} */

.el{
    position: relative;
    /* From https://css.glass */
/* background: #171717;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
border: 1px solid rgba(245, 242, 242, 0.35); */
  padding: 21px;
  width: 40em;
  left: .1em;
  margin: 0px auto;
  border-radius: 1rem;
  background: hsl(from var(--primary-700)h s l/0.25);
  backdrop-filter: blur(6px);

    /* background-color: #1e0a39; */
    
}

.el::before{
     content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: inherit;
  border: 1px solid transparent;
  background: linear-gradient(var(--primary-500), var(--primary-600)) border-box;
  mask: linear-gradient(black, black) border-box,
    linear-gradient(black, black) padding-box;
  mask-composite: subtract;
}

/*movie card*/
.movieTag{
    position: relative;
    /* display: flex; */
    margin-left: 20em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    width: 100%;
}
.movieTag h1{
    margin-bottom: 1.5rem;
    width: 100%;
    font-size: 55px;
    font-family: 'Inter' sans-serif;
    color: var(--third--primary);

}
.card{
     display: flex;
     flex-direction: column;
    background-color: var(--card-primary-color);
    border-radius: 18px;
    padding: 17px 4px 10px 4px;
    box-shadow: 0 4px 8px rgba(255, 252, 252, 0.292);
    margin: 20px;
    /* height: 33rem; */
    width: 22rem;
    overflow: hidden;
    /* border-color: var(--secondary-color); */
}

.card-header{
    background-color: var(--card-primary-color);
    border: none;
    display: flex;
    gap: 1em;
    margin-right: 1px;
    margin-left: 0;
    padding-left: 0;
    /* align-items: center; */
    justify-content: space-between;
}

/* .card-header{
    display: flex;
    background-color: var(--card-primary-color);
    border: none;
    
    gap: 1em;
    
} */


.rightTitle{
     display: flex;
  justify-content: space-between;  /* title left, date right */
  align-items: flex-start;         /* align properly if title wraps */
  gap: 0.5rem; 
}

.movie-title{

    /* font-size: 1.5rem;
    font-weight: bolder;
    color: var(--title-primary);
    font-family: "Bebas Neue", sans-serif;
    white-space: nowrap;        /* Prevents breaking */
    /* overflow: hidden;
    text-overflow: ellipsis;    /* Adds ... if too long */
    /* flex: 1 1 auto;             /* Allows title to take available space */
    /* margin-bottom: 0;  */


    /* font-size: 45px;
    text-overflow: unset;
    white-space: nowrap;
    font-weight: bolder;
    /* word-break: break-word; */
     /* overflow-wrap: anywhere;
    margin-bottom: 0.5em;
    max-height: 4.5em;
    color: var(--title-primary);
    font-family: "Bebas Neue", sans-serif;  */
     
    /* font-size: 47px;
  
    margin-right: 1px;
    white-space: normal;
    font-weight: bolder;
   white-space: wrap;
   word-break: normal; */
   /**/
    /* word-break: normal;
    /* wrap: break-word; */
    /* white-space: wrap;
    line-height: 1.2;
   font-weight: bolder; */ 
   /* flex: 1 1 auto; */

   
    /* margin-bottom: 0.10em;
    max-height: 4.5em; */
    color: var(--title-primary);
    font-family: "Bebas Neue", sans-serif;
    font-size: 47px;
  font-weight: bolder;
  margin: 0;
  word-break: normal;
  overflow-wrap: break-word;   /* wrap at words, not characters */
  line-height: 1.3;

}
.release-date{
    font-family: "Bebas Neue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    margin-left: 0.6rem;
    /* margin-left: 1em;
    display: block;         force on new line */
  /* font-size: 0.9rem;
  margin-left: 1em; */

    /* font-size: 15px;
    font-weight: 400;
    margin-left: 1em;
    white-space: nowrap;
    flex-shrink: 0; */
}
.favIcon{
    position: relative;
    color: #2f2a1e35;
    cursor: pointer;
    flex-shrink: 0;
    margin-left: 1em;
    font-size: 25px;
}

.favIcon:hover{
    color: var(--secondary-color);
}
.favIcon.active{
    color: var(--secondary-color);
}
.card-img-top{
    border-radius: 5px;
    margin-left: 20px; 
    align-items: center;
    justify-content: center;
    width:90%;
    max-height: 65%;
    object-fit: cover;
}

.movie-text{
    font-size: 12px;
    font-weight: 500;
    color: var(--text-primary);
    font-family: 'PT Sans', sans-serif;
}
.description{
    font-weight: 500;
    font-size: 14px;
    width: 18.5rem;
    justify-content: space-between;
    text-align: justify;
}
.description, .movie-text{
    width: 100%;
    text-align: justify;
    /* max-height: 8em; */
    overflow: visible;
}

.movie-list-row{
    /* margin-top: 13em; */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

#movie-list{
    min-height: 600px;
    margin-top: 60px;
    scroll-margin-top: 100px;
}
.form{
    padding: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.3em;
}
.form-control{
    width: 420px;
    /* width:  100%;
    padding: 7px 16px;
    border-radius: 25px;
    border: 0;
    border-bottom: 2px solid var(--third--primary);
    outline: 0;

    color: black;
    background: transparent;
    font-family: 'Onest', sans-serif;
    font-size: 16px;
    transition: border-color 0.2s;
    box-sizing: border-box; */
    background: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid var(--secondary-color);
    outline: none;
    transition: box-shadow 0.5s ease;
    color: var(--third--primary) !important;
    text-align: center;
        font-family: 'Onest', sans-serif;

    
}

.form-control::placeholder{
    color: var(--third--primary);
    
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    opacity: 50%;

}
.form-control:focus::placeholder{
    opacity: 0;
}
input{
    cursor: text;
}

.form-control:focus{
    /* background-color: transparent;
    border-color: var(--secondary-color); */
      background: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #7f5af057;
    outline: none;
    box-shadow: 0px 10px 10px -10px #7f5af0;
}
.mr-2{
    margin-right: 5rem;
}

/* .spinner-grow{
    top: 20%;
    background-color: var(--card-primary-color) !important;
} */

/*loader text*/

.spinner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner-grow{
    margin-bottom: 8px;
    color: rgb(197, 174, 229);
}
.sr-only{
    text-align: center;

    font-family: 'Inter', sans-serif;
    font-weight: 600;
    padding: 1px;
    max-width: 200px;
    color: var(--secondary-color);


}

/*login card*/

.cardForm {
  font-family: Montserrat, sans-serif;
  width: 450px;
  height: 250px;
  translate: -6px -6px;
  background: var(--secondary-color);
  border: 3px solid var(--third--primary); 
  border-radius: 20px;
  box-shadow: 10px 10px 0 var(--third--primary);
  overflow: hidden;
  transition: all 0.3s ease;
  
}
.head {
  
  font-size: 20px;
  font-family: 'Onest', sans-serif;
  font-weight: 900;
  width: 100%;
  height: 32px;
  background:var(--third--primary);
  padding: 5px 12px;
  color:var(--black10);
  opacity: 10;
  border-bottom: 3px solid #000000;
}

.head i{
    left: 7em;
    right: 10px;
    position: relative;
    font-size: 25px;
    cursor: pointer;
}
.head i::hover{
    color: #e38323;

}

.FormContent {
  padding: 25px 12px;
  font-size: 18px;
  font-weight: 600;
  color: var(--title-primary);
  font-family: 'PT Sans', sans-serif;
}
.logBtn {
  padding: 10px 50px;
  margin-top: 20px;
  border: 3px solid #000000;
  box-shadow: 3px 3px 0 #000000;
  font-weight: 750;
  background: var(--card-primary-color);
  transition: all 0.3s ease;
  cursor: pointer;

}
.googleIcon{
    margin-left: 10px;
    
}


.logBtn:hover {
  translate: 1.5px 1.5px;
  box-shadow: 1.5px 1.5px 0 #000000;
  background: rgb(189, 157, 189);
  color: var(--third--primary);
}

.logBtn:active {
  translate: 3px 3px;
  box-shadow: var(--black10);
}

.cardForm:hover {
  translate: -6px;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.84);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal{
    /* background: transparent;
    padding: 0; */
}

/*fav card*/

.fav-grid {
min-height: 40vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem,3rem));
  gap: 0;
  width: 100%;
  justify-items: start;
  margin-bottom: 10rem;
}
.fav-grid .row{
    margin-bottom: 5rem;
    gap: 2rem;
}

.fav-grid .card{
    /* width: 8rem;
    height: 20rem;
    margin: 5px;
    padding: 5px 4em 5px;
    padding-left: 0;
    font-size: 0.9rem; */
     width: 10rem;
               /* smaller width */
  margin: 0;
  padding: 0;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  height: 15rem;
  display: flex;
   cursor: pointer;
  transition: all 0.5s;
      box-shadow: none;

  align-items: stretch;
  /* border-width: 2%; */
      border: 3px solid var(--secondary-color);

margin-top: 5rem;
  
}
.fav-grid .card:hover{
    border: 3px solid var(--third--primary); 
  transform: scale(1.05);
}
.fav-grid .card:active{
  transform: scale(0.95) rotateZ(1.7deg);

}
.fav-grid .card-img-top{
    /* width:125%;
    max-height: 65%;
    object-fit: cover; */
    border-radius: 10px;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;


           /* fix smaller height */
}

.fav-grid .movie-title{
    /* font-size: 20px;
    word-break: normal;
    overflow-wrap: break-word;
    white-space: normal;
    line-height: 1.2; */
    font-size: 0.95rem;
  font-weight: 600;
  margin: 0.5rem 0 0.2rem;
  line-height: 1.2;
  display: none;

}
.fav-grid .release-date{
     font-size: 0.8rem;
     display: none;
}
.fav-grid .movie-text{
    display: none;
}
.fav-grid .favIcon{
    display: none;
}
.titleFav{
    position: absolute;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: var(--third--primary);
    top: 3em;
    

}

/*fav popup msg*/

/* From Uiverse.io by barisdogansutcu */
.popup-bottom {
    position: fixed;
    left: 50%;
    bottom: 40px; /* distance from bottom */
    transform: translateX(-50%) translateY(100%);
   
    z-index: 9999;
    transition: transform 0.4s cubic-bezier(.23,1,.32,1), opacity 0.4s;
    opacity: 0;

    /* animation: fadeInUp 0.4s; */
}
.popup-bottom.active{
    transform: translateX(-50%) translateY(-40px); 
    opacity: 1;
}
/* @keyframes fadeInUp {
    from { opacity: 0; transform: translateY(30px) translateX(-50%);}
    to { opacity: 1; transform: translateY(0) translateX(-50%);}
} */

label {
 background-color: #c8b0ea;
 display: flex;
 align-items: center;
 gap: 14px;
 padding: 10px 15px 10px 10px;
 cursor: pointer;
 user-select: none;
 border-radius: 10px;
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 color: var(--black10);
 font-family: 'Inter', sans-serif;
 font-weight: bold;
}

input {
 display: none;
}

input:checked + label svg {
 fill: var(--secondary-color);
 stroke: var(--secondary-color);
 animation: heartButton 1s;
}

@keyframes heartButton {
 0% {
  transform: scale(1);
 }

 25% {
  transform: scale(1.3);
 }

 50% {
  transform: scale(1);
 }

 75% {
  transform: scale(1.3);
 }

 100% {
  transform: scale(1);
 }
}

input + label .action {
 position: relative;
 overflow: hidden;
 display: grid;
}

input + label .action span {
 grid-column-start: 1;
 grid-column-end: 1;
 grid-row-start: 1;
 grid-row-end: 1;
 transition: all .5s;
}



input + label .action span.option-2 {
 transform: translate(0px,100%);
 opacity: 0;
}

input:checked + label .action span.option-2 {
 transform: translate(0px,0%);
 opacity: 1;
}

.fav-grid .deleteOverlay{
    position: relative;
    padding: 7px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: var(--secondary-color);
    opacity: 95%;
    justify-content: center;
    align-items: center;
    width: 2rem;
    margin-right: 0;
    margin-left: 3rem;
    margin-bottom: 1rem;
    border-radius: 20px;
    display: none;

}
.deletebtn i{
    position: relative;
    justify-content: center;
    align-items: center;
    left: 0;
    color: var(--third--primary);

}
.fav-grid .deletebtn i:hover{
    color: #1e0a39;
}
.fav-grid .card:hover .deleteOverlay{
    display: flex;
}
.fav-grid .card:hover .card-img-top{
    opacity: 85%;
    transition: opacity 0.3s;
}
/*footer*/
.contain{
    width: 100vw;
    height: 55px;
    z-index: 1;
    text-align: center;
    /* background-color: var(--bg-color); */
    /* bottom: 5em; */
    
    position: relative;
    
  /* bottom: 0;
  left: 0;
  height: 25px;
  position: absolute;
  width: 100vw;
  height: 25px;
  z-index: 10;
  text-align: center;
  background-color: var(--bg-color); */
  


}
footer.contain{
    margin-top: auto;
}
.text, a{
    color: var(--third--primary);
    font-size: 12px;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 5px;
    
}

.icons a i {
    font-size: 1.1rem;
}

